body
{
    margin: 0;
    font-family: sans-serif;
    color: rgb(75, 61, 72);
    /* background-image: url(https://image.shutterstock.com/image-photo/writers-table-flat-lay-composition-260nw-1017732259.jpg); */
     /* background-color: navy; */
}

.container
{
    height: auto;
    width:50%;
    border: 1.5px dotted rgb(99, 94, 70);
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     background-image:url(https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1543844649000/photosp/b43cfeec-92b2-4f16-98b7-60a33b4b513a/stock-photo-text-background-list-minimalism-bulletin-board-to-do-cork-board-texture-background-room-for-text-b43cfeec-92b2-4f16-98b7-60a33b4b513a.jpg); 
}

@media screen and (max-width:950px)
{
    .container
    {
        width: 65%;
    }
}


@media screen and (max-width:650px)
{
    .container
    {
        width: 100%;
    }
}

.heading
{
    font-family: sans-serif;
    line-height: 1;
    margin-bottom: 10px;
    letter-spacing: 0.25rem;
    word-spacing: 0.35rem;
    font-size: 2.2rem;
}

.center
{
    text-align: center;
}

.form-user
{
    border-top:1.8px solid #F0F0F0;
    width: 100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-user > div
{
    width: 100%;
    height: 75px;
    border-bottom: 1.8px solid #F0F0F0;;
    padding-left: 2%;
    box-sizing: border-box;
}

.form-user > div  p
{
    margin:5px 0px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.descript
{
    width:99%;
    height:55%;
    border: none;
    resize: none;
    background: transparent;
    color: #F3F1F0;
}


.form-user textarea:focus,select:focus,input:focus
{
    outline: none;
}
textarea::placeholder
{
    color:#F3F1F0;
}

.category-calender
{
    display: flex;
    padding: 0 !important;
}

.category-calender >div
{
    box-sizing: border-box;
    padding-left: 2%;
    width: 50%;
    height: 100%;
}

.category-calender>div:first-child
{
    border-right: 1.8px solid #F0F0F0;
}

.drop-menu
{
    cursor: pointer;
    margin-top: 10px;
    width: 95%;
    background-color: transparent;
    border: none;
    color: #F3F1F0;
    font-weight: bold;
}
.drop-menu option
{
    color: rgb(195, 195, 212) ;
    font-weight: bold;
    background-color: inherit;
}

.drop-menu::placeholder
{
    color:#F3F1F0;
}

.mb-45
{
    margin-bottom: 45px;
}

.btns
{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0 !important;
    padding-bottom:25px;
    height:auto !important;
}

.btns>button
{
    border: none;
    color: #F3F1F0;
    cursor: pointer;
    height:55px;
    width:170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin-right:10px;
    font-size: 1.2rem;
}

.btns>button div
{
    margin:10px;
}

.bck-color-dark
{
    background-color: #444444;
}

.bck-color-red
{
    background-color: #EE351E;
}

.bck-color-light
{
    background-color: rgb(230, 153, 65);
}
.bck-color-original
{
    background-color: rgb(255, 229, 182);
}
.bck-color-work
{
    background-color: rgb(177, 25, 197);
}
.bck-color-school
{
    background-color: rgb(240, 169, 15);
}
.bck-color-personal
{
    background-color: #5E85C4;
}
.bck-color-other
{
    background-color: #DD153C;
}
.bck-color-clean
{
    background-color: #7F5D84;
}
#add-task:hover
{
    background-color: #333133;
}

#delete-task
{
    height: 55px !important;
    box-sizing: border-box !important;
    padding-top: 5px;
}


#delete-task:hover
{
    background-color: #C5250E;
}

.outside-list
{
    height:auto;
    margin-bottom: 0;
    /* border: 1px solid black; */
    padding: 0;
}

.outside-list li
{
    color: #66666B;
    height:52px;
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 2px dashed #F0F0F0;
    padding-bottom: 10px;
}

input[type="checkbox"]
{
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: white;
    /* background-position: center;
    background-size: contain;
    background-image:url("/images/check-solid.svg"); */
    margin-left: 10px;
}

input[type="checkbox"]:checked
{
    background-color: #169F5D;
}
/* .addTick
{
    height: 20px;
    width: 20px;
    background-position: center;
    background-size: contain;
    background-image:url("/images/check-solid.svg");
} */

.list p::before
{
    color:black;
    content: "";
    height: 20px;
    width: 20px;
    margin-right: 10px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-image:url("/images/calendar.svg");
}

.task-details
{
    vertical-align: top;
    width:70%;
    height: auto;
    margin-left: 2%;
    margin-right: 5%;
    display: inline-block;
}

@media screen and (max-width:990px)
{
    .task-details
    {
        width: 65%;
        margin-right: 3%;
    }
}

.list p
{
    margin: 0;
    margin-top: 2px;
}

.category-list
{
    font-size:0.8rem;
    font-weight: bold;
    width:15%;
    height:auto;
    padding-bottom: 10px;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    vertical-align:top;
    text-align: center;
    overflow-wrap: break-word;
}

.lineThrough
{
    text-decoration: line-through;
}